*{
    margin:0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}

#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:40px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

.blog-heading{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.blog-heading h1{
    font-size: 2.4rem;
    color:black;
    font-weight: 600;
}

.blog-container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.blog-box{
    width:350px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin:2px;
}

.blog-img{
    width:100%;
    height: auto;
}

.blog-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-text{
    padding:30px;
    display:flex;
    flex-direction: column;
}

.blog-text span{
    color: blue;
    font-size: 0.9rem;
}

.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: black;
}

.blog-text .blog-title:hover{
    color:rgb(34, 21, 215);
    transition: all ease 0.3s ;
}

.blog-text p{
    color: black;
    font-size: 0.9rem;
    display:-webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient:vertical ;
    overflow: hidden;
    text-overflow: ellipsis;
    margin:20px 0px;

}

.blog-text a{
    color: black;

}

.blog-text a:hover{
    color: blue;
    transition: all ease 0.3s;
}