body {
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

article {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 0;
}

header p {
    font-size: 1.1em;
    color: #888;
}

figure {
    text-align: center;
}

figure img {
    max-width: 80%;
    height: auto;
}

figure figcaption {
    font-size: 0.9em;
    color: #666;
    margin-top: 10px;
}

div {
    margin: 40px 0;
}
